<%# <p style="color: green"><%= notice %>
<%# </p> %>

<%# <h1>Bank branches</h1> %>

<div class="columns is-centered" id="bank_branches">
  <% @bank_branches.each do |bank_branch| %>
  <div class="column mt-6">
  <p class="bd-notification is-danger">
    <%= render bank_branch %>
    <p>
      <button class="button is-primary"><%= link_to "Action", bank_branch %></button>
   </p>
  </div>
    </p>
  <% end %>
</div>

<%# <%= link_to "New bank branch", new_bank_branch_path %> 
